<div class="container ">
    <div class="row border p-5 m">
        <div class="col-12">
            <form>
                <div class="mb-3 ">
                  <input type="text" class="form-control" placeholder="Article Title">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="What's this article about?">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="Write your article(in markdown)" id="floatingTextarea"></textarea>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter Tags">
                  </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>