<section class="green_color p-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light sticked green_color">
            <div class="container">
                <a class="navbar-brand" href="#">Impact<span class="orange_color">.</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "  routerLink="auth">signIn/signUp</a>
                        </li>
                     
                       
                    </ul>
                </div>
            </div>
            
        </nav>
        <div class="breadcrum">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="header_content">
                        <h1>Blog Details</h1>
                        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
                            consequatur
                            ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
                            quaerat
                            ipsum dolorem.</p>
                    </div>
                </div>
            </div>

        </div>

       
        
    </div>
    
</section>
